html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.app-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
  .app-container {
    height: 93vh;
  }
}


.nav{
  width: 100%;
  height: 3vh;
  padding: 0.5rem;
  background-color: #303030;
  color: #ffffff;
  display: flex;
  justify-content: left;
  align-items: center;
  position: fixed;
  text-align: center;
  z-index: 100;
  
}
.nav h2{
  color: #ffffff;
  display: inline;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
  .nav h2 {
    font-size: medium; /* Adjust the font size */
  }

  .nav a {
    font-size: smaller; /* Adjust the font size */
  }

  .nav li {
    padding: 10px; /* Adjust the padding for smaller screens */
  }
}

.nav ul{
  padding-left: 1rem;
  color: #ffffff;
  display: inline;
  text-align: center;
}

.nav li{
  padding: 20px;
  color: #ffffff;
  display: inline;
  border-left: 0.5px solid #ffffff;
  font-weight: bold;
  /* border: 0.5px solid #ffffff; */
  
}

.nav_locations{
  width: 100%;
  height: 7vh;
  top: 3vh;
  background-color: #303030;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  text-align: center;
  z-index: 100;
  justify-content: flex-start;
}

.nav_locations-items{
  list-style: none;
  padding-left: 1rem;
  display: flex;
  text-align: center;
  flex: 1; 
  flex-shrink: 0
}


.nav_locations-list {
  list-style: none;
  flex: grow;
  display: flex;
  align-items: center;
  white-space: nowrap; /* Prevent wrapping to the next line */
  overflow-x: auto; /* Enable horizontal scrolling */
  scrollbar-width: none; /* For Firefox */
  margin-left: 10px;
  justify-content: flex-start
}

.nav_locations-list::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}

.compare-locations-list-text {
  color: #ffffff;
  white-space: normal;

}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
  .compare-locations-list-text {
    font-size: smaller; /* Adjust the font size */
    white-space: normal;
    padding-right: 10px;
    padding-left: -10px;

  }
}




.historical_year-dropdown {
  padding-top: 0rem;
  width: 100%;
  position: relative;
}



.footer {
  width: 100%;
  height: 5vh;
  background-color: #303030;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  height: 100%;
  width: auto;
  margin-top: 10vh;
  top: 10vh;
}


.map-container {
  width: 100%;
  height: 100%;
}

.map {
  width: 100%;
  height: 100%;  
}



.combobox {
  border: 1px solid #fff
}

.combobox-input {
  width: 100%;
  padding: .5rem;
  border: 1px solid #fff;
  padding-right: 2rem;

}

.combobox-list {
  z-index: 1000; /* Ensure this value is higher than your navbar's z-index */
    position: relative; /* Required for z-index to work */
}

.combobox-clear-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}



.compare-page {
  width: 100%;
  height: 100%;
  background-color: #fbfbfb;
  margin-left: 0%;

}

.compare-page-scroll {
  width: 100%;
  align-items: center;
  overflow-y: scroll; /* Enable vertical scroll */
  scrollbar-width: none; /* For Firefox */
}

.compare-page-scroll::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}

.compare_chart-div {
  width: 55%;
  margin: auto;
  align-items: center;
  display: block;
}

/* Add this media query for mobile devices */
@media screen and (max-width: 768px) {
  .compare_chart-div {
    width: 90%;
  }
}

.compare-page-paragraph {
  width: 100%;
  margin: auto;
  align-items: center;
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #303030;
  font-family: Arial, Helvetica, sans-serif;
}

.chart-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  overflow: hidden; /* In case the chart overflows */
}

.compare_climate_table-div {
  width: auto;
  margin: auto;
  align-items: center;
  display: block;
}

.compare-climate-table {
  width: 100%;
  overflow-x: auto; /* Allows horizontal scrolling on small screens */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS devices */
  align-items: center;
  box-sizing: border-box; /* Ensures padding does not affect overall width */
  
}

/* Add responsive styling for smaller screens */
@media screen and (max-width: 768px) {
  .compare-climate-table {
    margin: 0;
    padding: 0;
  }

  /* adjust the styles of table cells for smaller screens */
  .compare-climate-table .MuiTableCell-root {
    padding: 2px; /* Reduced padding on smaller screens */
  }
}



.table-location-color-box {
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .table-location-color-box {
    visibility: hidden;
  }
}


.year-selector-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9f9; 
  z-index: 1000;
  padding-left: 1rem;
  padding-right: 4rem;
}

.year-selector-footer-slider {
  width: 100%;
  height: 100%;


}


.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
