html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.app-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
  .app-container {
    height: 93vh;
  }
}


/* ################### GENERAL STYLES ######################### */
.info-box {
  position: absolute;
  bottom: 0rem;
  left: 0rem;
  font-size: 1em;
  height: 7vh;
  width: 60%;
  text-align: left;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.35);
  color: #ffffff;
  font-weight: bold;
  white-space: nowrap; 
  overflow: hidden;
  border-radius: 0.5rem;
}

.grade-box {
  position: absolute;
  bottom: 0rem;
  right: 0rem;
  height: 7vh;
  font-size: 1.5em;
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 1rem;
  color: #ffffff;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 0.5rem;

}


/* ################### NAVBAR ######################### */
.nav{
  width: 100%;
  height: 3vh;
  padding: 0.5rem;
  background-color: #303030;
  color: #ffffff;
  display: flex;
  justify-content: left;
  align-items: center;
  position: fixed;
  text-align: center;
  z-index: 100;
  
}
.nav h2{
  color: #ffffff;
  display: inline;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
  .nav h2 {
    font-size: medium; /* Adjust the font size */
  }

  .nav a {
    font-size: smaller; /* Adjust the font size */
  }

  .nav li {
    padding: 10px; /* Adjust the padding for smaller screens */
  }
}

.nav ul{
  padding-left: 1rem;
  color: #ffffff;
  display: inline;
  text-align: center;
}

.nav li{
  padding: 20px;
  color: #ffffff;
  display: inline;
  border-left: 0.5px solid #ffffff;
  font-weight: bold;
  /* border: 0.5px solid #ffffff; */
  
}

.nav_locations{
  width: 100%;
  height: 7vh;
  top: 3vh;
  background-color: #303030;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  text-align: center;
  z-index: 100;
  justify-content: flex-start;
}

.nav_locations-items{
  list-style: none;
  padding-left: 1rem;
  display: flex;
  text-align: center;
  flex: 1; 
  flex-shrink: 0
}


.nav_locations-list {
  list-style: none;
  flex: grow;
  display: flex;
  align-items: center;
  white-space: nowrap; /* Prevent wrapping to the next line */
  overflow-x: auto; /* Enable horizontal scrolling */
  scrollbar-width: none; /* For Firefox */
  margin-left: 10px;
  justify-content: flex-start
}

.nav_locations-list::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}

.compare-locations-list-text {
  color: #ffffff;
  white-space: normal;

}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
  .compare-locations-list-text {
    font-size: smaller; /* Adjust the font size */
    white-space: normal;
    padding-right: 10px;
    padding-left: -10px;

  }
}


/* ################### YEAR SELECTOR ######################### */
.year-selector-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9f9; 
  z-index: 1000;
  padding-left: 1rem;
  padding-right: 4rem;
}

.year-selector-footer-slider {
  width: 100%;
  height: 100%;


}


.footer {
  width: 100%;
  height: 5vh;
  background-color: #303030;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* ################### MAP HOME PAGE ######################### */
.container {
  display: flex;
  height: 100%;
  width: auto;
  margin-top: 10vh;
  top: 10vh;
}

.map-container {
  width: 100%;
  height: 100%;
}

.map {
  width: 100%;
  height: 100%;  
}


/* ################### INFO WINDOW ######################### */
.infowindow-container {
  position: relative;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%; 
  color: #fff; 
  overflow-y: auto; /* Enable vertical scroll */
}

.infowindow_collapsed{
  width: 100%;
  height: 100%;
}

.infowindow-background-image {
  width: 15em;
  height: 10em; /* Maintain aspect ratio */
  display: block;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}

.infowindow-expand-button {  
  cursor: "pointer";
  color: #ffffff;
  display: block; 
  text-align: center;
  width: 100%; 
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: black;
  cursor: pointer;
}

.infowindow-title{
  font-size: 1em;
  font-weight: bold;
  color: #000000;
  text-align: center;
}


.infowindow-climate_table {
  max-width: 100%;
  overflow-x: auto;
}

  /* specific positioning for InfoWindow */
.infowindow-container .info-box,
.infowindow-container .grade-box {
  bottom: 1.75rem; 
  font-size: 1em;
}




/* ################### SEARCH BAR ######################### */
.combobox {
  border: 1px solid #fff
}
  
.combobox-input {
  width: 100%;
  padding: .5rem;
  border: 1px solid #fff;
  padding-right: 2rem;

}

.combobox-list {
  z-index: 1000; /* Ensure this value is higher than your navbar's z-index */
    position: relative; /* Required for z-index to work */
}

.combobox-clear-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}



/* ################### COMPARE PAGE ######################### */
.compare-page {
  width: 100%;
  height: 100%;
  background-color: #fbfbfb;
  margin-left: 0%;

}

.compare-page-scroll {
  width: 100%;
  align-items: center;
  overflow-y: scroll; /* Enable vertical scroll */
  scrollbar-width: none; /* For Firefox */
}

.compare-page-scroll::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}

.compare_chart-div {
  width: 55%;
  margin: auto;
  align-items: center;
  display: block;
}

/* Add this media query for mobile devices */
@media screen and (max-width: 768px) {
  .compare_chart-div {
    width: 90%;
  }
}

.chart-title {
  width: 100%;
  margin: auto;
  text-align: center;
  align-items: center;
  display: block;
  padding-top: 0rem;
  padding-bottom: 0rem;
  font-size: larger;
  font-weight: bold;
  color: #303030;
  font-family: Arial, Helvetica, sans-serif;
}

.chart-heading {
  width: 100%;
  margin: auto;
  text-align: center;
  align-items: center;
  display: block;
  padding-top: 0rem;
  padding-bottom: 0rem;
  font-size: larger;
  font-weight: bold;
  color: #808080;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 768px) {
  .chart-title {
    font-size: medium; 
  }
  
}

.compare-page-paragraph {
  width: 100%;
  margin: auto;
  align-items: center;
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #303030;
  font-family: Arial, Helvetica, sans-serif;
}

.chart-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  overflow: hidden; /* In case the chart overflows */
}


.compare-climate-table {
  width: 100%;
  overflow-x: auto; 
  -webkit-overflow-scrolling: touch; 
  align-items: center;
  box-sizing: border-box; 
  
}

/* Add responsive styling for smaller screens */
@media screen and (max-width: 768px) {
  .compare-climate-table {
    margin: 0;
    padding: 0;
  }

  .compare-climate-table .MuiTableCell-root {
    padding: 2px; /* Reduced padding on smaller screens */
  }
}

.compare-chart-shadow-effect {
  background-color: #fbfafa;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* optional, for rounded corners */
  padding: 10px;
}



.table-location-color-box {
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .table-location-color-box {
    visibility: hidden;
  }
}



.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}




/* ################### SIDEBAR ######################### */
.sidebar-backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  z-index: 100;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sidebar-backdrop.open {
  display: block;
  opacity: 1;
}

.sidebar {
  position: fixed;
  right: -300px;
  top: 0;
  width: 300px;
  height: 100%;
  background: #303030;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  transition: right 0.3s ease;
  z-index: 1000;
  
}

.sidebar.open {
  right: 0;
}

.menu-icon {
  cursor: pointer;
  background-color: #303030;
  border: none;
  color: #ffffff;
  font-size: 2.5em;
  padding-right: 1rem;
  margin-bottom: 1.5rem;
}

.sidebar-content {
  padding: 0.5rem;
  height: 100%;
  overflow-y: auto;
}

.sidebar-content::-webkit-scrollbar {
  display: none;
}
.sidebar-content {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}


/* ################### LOCATION CARD ######################### */
.location-card {
  position: relative;
  width: 100%; 
  height: 20vh; 
  box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.5);
}

.card-background-image {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  display: block;
}

.add-remove-btn {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  font-size: 1em;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border: 1px solid #303030;
}

.delete-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 1em;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border: 1px solid #303030;
}

/* Specific styles for .info-box and .grade-box inside the location card */
.sidebar .info-box,
.sidebar .grade-box {
  bottom: 0rem;
}



