html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



.container {
  display: flex;
  height: 100vh;
}

.highlight {
  font-size: 1.25rem;
  font-weight: bold;
}



.map-container {
  width: 100%;
  height: 100vh;
}

.map {
  width: 80%;
  height: 100vh;
}

.iw-marker-buttons{
  padding: 0.5rem;
}

.iw-marker-button-remove{
  width: 50%;
  height: 50%;
  font-size: 12px;

}

.iw-marker-button-compare{
  width: 50%;
  height: 50%;
  font-size: 12px;

}





.side-pannel {
  width: 20%;
  padding: 1rem;
  background: #303030;
  color: #ffffff;
  justify-content: center;
}

.side-pannel-list {
  width: 100%;
  justify-content: center;
}


.combobox {
  border: 1px solid #fff
}

.combobox-input {
  width: 100%;
  padding: .5rem;
  border: 1px solid #fff;

}

.compare-button {
  padding: 1rem;
  margin: 1rem;
}